* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  height: 100%;
  width: 100%;
  font-size: 10px;
}
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: $font-primary;
  color: $text-light;
  background-color: #000;
  font-size: 1.4rem;
  line-height: 1.65;
}
img,
video,
audio {
  max-width: 100%;
  height: auto;
}
picture {
  display: block;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

