/*---------- COLORS ----------*/
$color-primary: #000;
$color-secondary: #2e2e2e;

$text-light: #fff;
$text-dark: #000;
$text-light-secondary: #bdbdbd;
$text-dark-secondary: #818181;

/*---------- FONTS -----------*/
$font-primary: "Roboto", Arial, sans-serif;

/*--------- DEVICES ----------*/
$laptop: 1340px; 
$tablet: 1024px; 
$phone: 576px; 
